<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../../../GitHub/mlcourse.ai/data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [23]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [30]:
data['native-country'].value_counts().loc['Germany'] / len(data) * 100

0.42074874850281013

In [8]:
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [9]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [10]:
#<=50k
data[data['salary'] == '<=50K']['age'].mean(), \
data[data['salary'] == '<=50K']['age'].std()

(36.78373786407767, 14.020088490824813)

In [11]:
#>50k
data[data['salary'] == '>50K']['age'].mean(),\
data[data['salary'] == '>50K']['age'].std()

(44.24984058155847, 10.51902771985177)

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [12]:
pd.crosstab(data['education'], data['salary'])

salary        <=50K  >50K
education
10th            871    62
11th           1115    60
12th            400    33
1st-4th         162     6
5th-6th         317    16
7th-8th         606    40
9th             487    27
Assoc-acdm      802   265
Assoc-voc      1021   361
Bachelors      3134  2221
Doctorate       107   306
HS-grad        8826  1675
Masters         764   959
Preschool        51     0
Prof-school     153   423
Some-college   5904  1387

In [33]:
for edu, sub_df in data[data['salary'] == '>50K'].groupby('education'):
    print(edu)

10th
11th
12th
1st-4th
5th-6th
7th-8th
9th
Assoc-acdm
Assoc-voc
Bachelors
Doctorate
HS-grad
Masters
Prof-school
Some-college

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [13]:
data.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [14]:
data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [15]:
data['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [16]:
data['married'] = data['marital-status'].map({'Married-civ-spouse':1, 'Married-spouse-absent':1,\
                            'Married-AF-spouse':1, 'Never-married':0, 'Divorced':0,  'Separated':0, 'Widowed':0})

In [44]:
len(data[(data['married'] == 1) & (data['salary'] == '>50K')]) / len(data[data['married']==1])

0.43692028280469614

In [48]:
len(data[(data['married'] == 0) & (data['salary'] == '>50K')]) / len(data[data['married']==0])

0.0644540363975735

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [19]:
data['hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [20]:
data[data['hours-per-week'] == 99].shape

(85, 16)

In [21]:
round(len(data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]) / len(data[data['hours-per-week'] == 99]),2)

0.29

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [22]:
data.groupby(['native-country','salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [49]:
for ind, sub_df in data.groupby(['salary', 'native-country']):
    print(ind)
    print(sub_df['hours-per-week'].mean())

('<=50K', '?')
40.16475972540046
('<=50K', 'Cambodia')
41.416666666666664
('<=50K', 'Canada')
37.91463414634146
('<=50K', 'China')
37.38181818181818
('<=50K', 'Columbia')
38.68421052631579
('<=50K', 'Cuba')
37.98571428571429
('<=50K', 'Dominican-Republic')
42.338235294117645
('<=50K', 'Ecuador')
38.041666666666664
('<=50K', 'El-Salvador')
36.03092783505155
('<=50K', 'England')
40.483333333333334
('<=50K', 'France')
41.05882352941177
('<=50K', 'Germany')
39.13978494623656
('<=50K', 'Greece')
41.80952380952381
('<=50K', 'Guatemala')
39.36065573770492
('<=50K', 'Haiti')
36.325
('<=50K', 'Holand-Netherlands')
40.0
('<=50K', 'Honduras')
34.333333333333336
('<=50K', 'Hong')
39.142857142857146
('<=50K', 'Hungary')
31.3
('<=50K', 'India')
38.233333333333334
('<=50K', 'Iran')
41.44
('<=50K', 'Ireland')
40.94736842105263
('<=50K', 'Italy')
39.625
('<=50K', 'Jamaica')
38.23943661971831
('<=50K', 'Japan')
41.0
('<=50K', 'Laos')
40.375
('<=50K', 'Mexico')
40.00327868852459
('<=50K', 'Nicaragua')
36.09375
('<=50K', 'Outlying-US(Guam-USVI-etc)')
41.857142857142854
('<=50K', 'Peru')
35.06896551724138
('<=50K', 'Philippines')
38.065693430656935
('<=50K', 'Poland')
38.166666666666664
('<=50K', 'Portugal')
41.93939393939394
('<=50K', 'Puerto-Rico')
38.470588235294116
('<=50K', 'Scotland')
39.44444444444444
('<=50K', 'South')
40.15625
('<=50K', 'Taiwan')
33.774193548387096
('<=50K', 'Thailand')
42.86666666666667
('<=50K', 'Trinadad&Tobago')
37.05882352941177
('<=50K', 'United-States')
38.79912723305605
('<=50K', 'Vietnam')
37.193548387096776
('<=50K', 'Yugoslavia')
41.6
('>50K', '?')
45.54794520547945
('>50K', 'Cambodia')
40.0
('>50K', 'Canada')
45.64102564102564
('>50K', 'China')
38.9
('>50K', 'Columbia')
50.0
('>50K', 'Cuba')
42.44
('>50K', 'Dominican-Republic')
47.0
('>50K', 'Ecuador')
48.75
('>50K', 'El-Salvador')
45.0
('>50K', 'England')
44.53333333333333
('>50K', 'France')
50.75
('>50K', 'Germany')
44.97727272727273
('>50K', 'Greece')
50.625
('>50K', 'Guatemala')
36.666666666666664
('>50K', 'Haiti')
42.75
('>50K', 'Honduras')
60.0
('>50K', 'Hong')
45.0
('>50K', 'Hungary')
50.0
('>50K', 'India')
46.475
('>50K', 'Iran')
47.5
('>50K', 'Ireland')
48.0
('>50K', 'Italy')
45.4
('>50K', 'Jamaica')
41.1
('>50K', 'Japan')
47.958333333333336
('>50K', 'Laos')
40.0
('>50K', 'Mexico')
46.57575757575758
('>50K', 'Nicaragua')
37.5
('>50K', 'Peru')
40.0
('>50K', 'Philippines')
43.032786885245905
('>50K', 'Poland')
39.0
('>50K', 'Portugal')
41.5
('>50K', 'Puerto-Rico')
39.416666666666664
('>50K', 'Scotland')
46.666666666666664
('>50K', 'South')
51.4375
('>50K', 'Taiwan')
46.8
('>50K', 'Thailand')
58.333333333333336
('>50K', 'Trinadad&Tobago')
40.0
('>50K', 'United-States')
45.50536884674383
('>50K', 'Vietnam')
39.2
('>50K', 'Yugoslavia')
49.5